* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  color: #656774;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

#store {
  background: linear-gradient(rgb(228, 61, 65), rgb(157, 62, 78), rgb(161, 33, 54));
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.store_product-img {
  text-align: center;
  position: relative;
  transition: all 0.5s linear;
}
.store_product-img .store_product-imgItem {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s linear;
}
.store_product-img:hover #changeColor {
  opacity: 1;
}
.store_product-img:hover .store_product-imgItem {
  opacity: 0;
}
.store_product-img #changeColor {
  transition: all 0.5s linear;
  top: 0;
  left: 0;
  opacity: 0;
}

#my_modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s;
}
#my_modal .overlay {
  transition: all 0.5s;
  position: absolute;
  top: 0;
  right: -100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6117647059);
  z-index: 1;
  backdrop-filter: blur(5px);
}
#my_modal .modal_body {
  transition: all 0.5s;
  right: -100%;
  background-color: #000;
  height: 100%;
  z-index: 2;
  position: absolute;
  width: 60vw;
  overflow-y: scroll;
}
#my_modal .modal_title {
  text-align: center;
}
#my_modal .modal_title h2 {
  margin-top: 5px;
  color: #fff;
  font-size: 2.25rem;
  font-weight: 700;
}
#my_modal .modal_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 20px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
#my_modal .modal_close:hover {
  cursor: pointer;
  opacity: 0.7;
}
#my_modal .modal_total {
  text-align: right;
}
#my_modal .modal_total h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
#my_modal .modal_total button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #e2ebfc;
}
#my_modal .modal_total button:hover {
  color: #fff;
  opacity: 0.7;
}
#my_modal .modal_total #purchaseProduct {
  border: none;
  color: #fff;
  background-color: green;
}
#my_modal .modal_total #resetProduct {
  border: none;
  color: #fff;
  background-color: red;
}
#my_modal table {
  width: 100%;
  height: 400px;
}
#my_modal table img {
  height: 60px;
}
#my_modal table td {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
#my_modal table td:nth-child(5) {
  color: #d70018;
}
#my_modal table .btnTrash {
  color: red;
}
#my_modal table .btnTrash:hover {
  cursor: pointer;
  color: red;
}
#my_modal table i {
  padding: 8px;
  background-color: #000;
  color: #fff;
}
#my_modal table i:hover {
  cursor: pointer;
  color: green;
}

#my_modal.show {
  opacity: 1;
  visibility: visible;
}
#my_modal.show .modal_body {
  right: 0;
}

#overAdded {
  display: none;
  opacity: 0;
  visibility: hidden;
}

#overAdded.show {
  display: flex;
  opacity: 1;
  visibility: visible;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
}
#overAdded.show .overlayAdded {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6117647059);
  z-index: 1;
  backdrop-filter: blur(5px);
}
#overAdded.show .overAdded_body {
  text-align: center;
  z-index: 1;
  background-color: #000;
  position: absolute;
  width: 400px;
  height: auto;
}
#overAdded.show .overAdded_body h2 {
  color: #c9d8f4;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
  padding: 20px;
}
#overAdded.show .overAdded_body button {
  text-align: center;
  width: 100%;
  background-color: #ea485b;
  color: #fff;
}
#overAdded.show .overAdded_body button:hover {
  color: #fff;
  opacity: 0.7;
}

#store_cart {
  position: absolute;
  right: 0;
  z-index: 1;
}
#store_cart i {
  color: #121212;
  font-size: 35px;
  font-weight: 700;
  margin: 10px 10px;
}
#store_cart i:hover {
  cursor: pointer;
  color: #fff;
  z-index: 1;
}
#store_cart .quantityOfCart {
  position: absolute;
  right: 0;
  color: #fff;
  z-index: 10000;
  border: 3px solid #fff;
  padding: 0px 6px;
  border-radius: 50%;
  font-weight: 700;
}

.store_product {
  background-color: #fff;
}

.store_product-icon i {
  margin: 0 10px;
  color: #d70018;
  font-size: 1.8rem;
  font-weight: 600;
}
.store_product-icon span {
  margin: 0 10px;
  font-style: italic;
  color: #d70018;
  font-size: 14px;
  font-weight: 600;
}

.store_product-title i {
  margin: 0 10px;
}
.store_product-title span {
  margin: 0 10px;
  color: #121212;
  font-size: 1.1rem;
  font-weight: 700;
}

.store_product-features {
  margin: 0 10px;
}
.store_product-features h2 {
  color: #656774;
  font-size: 14px;
  font-weight: 400;
}

.store_product-price {
  align-items: center;
  margin: 0 10px;
}
.store_product-price span {
  color: #d70018;
  font-size: 1.1rem;
  font-weight: 600;
}
.store_product-price button {
  display: block;
  background-color: #ea485b;
  border: none;
  margin-bottom: 2px;
  color: #fff;
}
.store_product-price button:hover {
  color: #fff;
  background-color: #ea485b;
  opacity: 0.8;
}
.store_product-price .product_quantity {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.store_product-price .product_quantity i:hover {
  cursor: pointer;
}

#backHome i {
  font-size: 20px;
}
#backHome p {
  color: white;
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}

.store_product-price.show {
  align-items: center;
  margin: 0 10px;
}
.store_product-price.show span {
  color: #d70018;
  font-size: 1.1rem;
  font-weight: 600;
}
.store_product-price.show button {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.store_product-price.show .product_quantity {
  display: block;
  opacity: 1;
  visibility: visible;
}

.fa-heart {
  cursor: pointer;
}

.fa-heart.active {
  color: red;
}

.wrap-products {
  width: 220px;
  margin: 10px;
  transform: scale(1);
  transition: all linear 0.5s;
  transform-origin: top;
  background-color: #fff;
}

.row {
  width: 100%;
  height: 100%;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  #store_list-products {
    padding: 0 90px;
  }
}
@media screen and (min-width: 306px) {
  #store_list-products {
    padding: 0 90px;
  }
}/*# sourceMappingURL=main.css.map */